<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Results</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="./team.css">
</head>
<body>
    <h1>Team Results</h1>
    <table>
        <thead>
            <tr>
                <th class="rank">Rank</th>
                <th class="name">Team Name</th>
                <th class="score overall">Score</th>
                <th class="overruled">Challenges overruled</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="rank">1</td>
                <td class="name">SuperQuizzers</td>
                <td class="score overall">9999</td>
                <td class="overruled">50</td>
            </tr>
            <tr>
                <td class="rank">2</td>
                <td class="name">CosmicQuizzers</td>
                <td class="score overall">9998</td>
                <td class="overruled">30</td>
            </tr>
        </tbody>
    </table>
</body>
</html>